/***********************************
    Cores
***********************************/

$cores-primarias-vermelho: #a7141a;
$cores-primarias-grafite: #444444;
$cores-primarias-branco: #ffffff;

$cores-sistema-pretoAzulado : #fff;
$cores-sistema-cinza : #606167;
$cores-sistema-cinzaClaro : #475164;
$cores-sistema-brick : #a7141a;

$cores-botoes-tag : #6a788a;

// $cores-botoes-normal-1 : #1ABCB0;
// $cores-botoes-normal-2 : #756ED5;
// $cores-botoes-normal-3 : #28B5F2;

// $cores-botoes-normalHover-1 : #16A096;
// $cores-botoes-normalHover-2 : #645EBE;
// $cores-botoes-normalHover-3 : #209DD3;

// $cores-botoes-desativado : #D8E1E5;
// $cores-botoes-ghost : transparent;


/***********************************
    Fontes 
***********************************/

$fontes-opensans-bold: 'Montserrat';
$fontes-opensans-extrabold: 'Montserrat';
$fontes-opensans-light: 'Montserrat';
$fontes-opensans-regular: 'Montserrat';