@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?6u40we');
  src:  url('icomoon.eot?6u40we#iefix') format('embedded-opentype'),
    url('icomoon.ttf?6u40we') format('truetype'),
    url('icomoon.woff?6u40we') format('woff'),
    url('icomoon.svg?6u40we#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-C-seSeta-direita:before {
  content: "\e905";
}
.icon-C-seBusca:before {
  content: "\e903";
}
.icon-C-seSino:before {
  content: "\e904";
}
.icon-C-sePhone:before {
  content: "\e900";
}
.icon-C-seLocalizacao:before {
  content: "\e901";
}
.icon-C-seEmail:before {
  content: "\e902";
}
